.section_title {
    font-size: 25px;
    font-weight: bold;
    margin: 20px auto 8px auto;
}

.section_content {
    line-height: 30px;
    word-break: keep-all;
}

.expander_content {
    font-size: 13px;
    margin-bottom: 10px;
}

.image_container {
    display: flex;
    align-items: center;
    justify-content: center;
}

#char0 {
    margin: 30px auto 10px auto;
    max-width: 80%;
}

.highlight {
    filter: brightness(1.2); /* 밝기 조절 */
    transition: filter 0.3s; /* 변화를 부드럽게 만들기 위한 트랜지션 */
}
/* 마우스를 이미지에 올렸을 때 형광펜 효과를 적용 */
.highlight:hover {
    filter: brightness(1.5); /* 조금 더 밝게 만듦 */
}
