.section_title {
    font-size: 25px;
    font-weight: bold;
    margin: 20px auto 8px auto;
}

.section_content {
    line-height: 30px;
    word-break: keep-all;
}

.expander_content {
    font-size: 13px;
    margin-bottom: 10px;
}

.image_container {
    display: flex;
    align-items: center;
    justify-content: center;
}

#char0 {
    margin: 30px auto 10px auto;
    max-width: 80%;
}

div{cursor: pointer;}
div:hover .highlight:after{
  width:100%;
}
.highlight{
  display: inline-block; 
  position: relative;
}
.highlight:after{
  content:"";
  width: 0;
  height: 10px;
  display: inline-block;
  background: #D9FCDB;
  position: absolute;
  bottom:0;
  left:0;
  z-index:-1;
  transition: 0.2s all;
}
